<ul>
	<% @projects.each do |project| %>
		<li>
			<%= link_to project.name, "/projects/#{project.id}" %>
			<% if (project.description) %>
				-
			<% end %>
			<%= project.description %>
		</li>
	<% end %>
</ul>