<h1>Projects</h1>
<ul>
	<% @projects.each do |project| %>
		<li>
			<b><%= link_to project.name, "/projects/#{project.id}" %></b>
			<% if (project.description) %>
				-
			<% end %>
			<%= project.description %>
		</li>
	<% end %>
</ul>

<%= link_to "Create a new project", new_project_path %>