<h1>Time Tracking</h1>

<%= render "partials/registration" %>

<!-- <img src="/assets/dramatic-glasses.gif" alt="Kid removing his sunglasses  epically"> -->
<%= image_tag "dramatic-glasses.gif", :alt => "boy taking glasses off" %>