<!DOCTYPE html>
<html>
<head>
  <title>Timetracking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>  <!-- pulls the content from the other pages and throws in this format -->
			  <!-- if there's a content that is common to all pages (for ex: footer) -->
			  <!-- it would be better to insert it here -->

</body>
</html>
